
# core
numpy==1.23.5
pandas==1.5.3
scikit-learn==1.2.2
matplotlib==3.6.3
seaborn==0.12.2

# NLP / preprocessing
nltk==3.8.1
contractions==0.1.73
wordcloud==1.8.2.2

# Deep learning (TensorFlow compatible with Python 3.9)
tensorflow==2.11.0
h5py==3.7.0


